[Desktop Entry]
Categories=Qt;KDE;
Comment[it]=
Comment=
Exec=/usr/bin/om-control-center
GenericName[it]=OpenMandriva Centro di controllo
GenericName=OpenMandriva Control Center
Icon=om-cc
MimeType=
Name[it]=OpenMandriva Centro di controllo
Name=OpenMandriva Control Center
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-HasTempFileOption=true
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
